<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <title>調貨表</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>

<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">調貨表</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'Tdaily'%}">日常進出</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'Tgoods'%}">庫存管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'Tclient'%}">中盤缺交商品</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">登出</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">貨   號</th>
            <th scope="col">品    名</th>
            <th scope="col">儲   位</th>
            <th scope="col">數量</th>
            <th scope="col">單位</th>
            <th scope="col">未調貨原因</th>
          </tr>
        </thead>
        <tbody>
          {% if transfers %}
            {% for transfer in transfers %}
          <tr>
            <td>{{transfer.productId}}</td>
            <td>{{transfer.productName}}</td>
            <td>{{ transfer.position1 }}
            {% if transfer.position2 %}, {{ transfer.position2 }}{% endif %}
            {% if transfer.position3 %}, {{ transfer.position3 }}{% endif %}
            </td>
            <td>{{transfer.quantity}}</td>
            <td>件</td>
            <td>{{transfer.reason}}</td>
            
          </tr>
          {% endfor %}
          {%endif%}
        </tbody>
      </table>
      </div>
    </div>
  </div>


  <footer class="container">
    <p class="float-end"><a href="#">回到頁首</a></p>
    <p>調貨表</p>
  </footer>
</main>
    </body>
</html>
